.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

ol.treat_list {
    width:100%;
    padding-left:unset;
    list-style: none;
    counter-reset: my-awesome-counter;
}
ol.treat_list li {
    counter-increment: my-awesome-counter;
}
ol.treat_list li::before {
    content: "(" counter(my-awesome-counter) ") ";
    color: #0a4650;
    font-weight: bold;
}

.color_planned {
    background-color: #c9866d !important;
}
.color_completed {
    background-color:  #92c775 !important;
}
.color_in_progress {
    background-color: #f7f488 !important;
}
.color_initial_examination {
    background-color: #cdd1cb !important;
}
